<!DOCTYPE html>
<%- include Header.ejs %>
<style>
	.heart_icon {
		color: black;
	}
	.heart_icon:hover {
		color: red;
	}
	.after_heart {
		color:red;
	}
</style>
	<body class="smoothscroll enable-animation">

		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="sticky clearfix">

				<!-- TOP NAV -->
				<%- include TopNav.ejs %>
				<!-- /Top Nav -->

			</div>

			<section class="page-header dark page-header-xs">
				<div class="container">

					<h1>Travel TimeLine</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="/">Home</a></li>
						<li><a href="#">TimeLine</a></li>
						<li class="#"><%=order%></li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section>
				<div class="container">
					<!-- LEFT -->
					<div class="col-md-12 col-sm-12" style="margin-top:-50px;margin-bottom:70px;">
						<div class="row box-gradient box-teal">
							<div class="col-md-3 col-sm-3" style="margin:20px; padding:10px;">
								<i class="fa fa fa-pencil-square-o fa-4x"></i>
								<h2 class="countTo font-raleway" data-speed="2000"><%=details.length%></h2>
							</div>
							<%
								var total_recommends = 0;
								for(var k=0; k < details.length; k++) {
									total_recommends += details[k].recommend;
								}
							%>
							<div class="col-md-3 col-sm-3" style="margin:20px;  padding:10px;">
								<i class="fa fa-heart fa-4x"></i>
								<h2 class="countTo font-raleway" data-speed="2000" id="total_heart"><%=total_recommends%></h2>
							</div>
							<div class="col-md-3 col-sm-3" style="margin:20px;  padding:10px;">
								<i class="fa fa-comment fa-4x"></i>
								<h2 class="countTo font-raleway" data-speed="2000" id="total_comment"><%=comments.length%></h2>
							</div>
						</div>
					</div>
					<div class="col-md-10 col-sm-10">
						<!-- TIMELINE -->
						<div class="timeline"><!-- .timeline-inverse = right position [left on RTL] -->
							<div class="timeline-hline"><!-- horizontal line --></div>
							<%for(var i =0; i < details.length; i++){%>
								<!-- POST ITEM -->
								<div class="blog-post-item" style="margin-bottom:20px; padding-bottom:20px;">
									<!-- timeline entry -->
									<div class="timeline-entry rounded"><!-- .rounded = entry -->
										<%
											var check_heart = "";
											if(details[i].recommendID != null){
												for(var t=0; t < details[i].recommendID.length; t++ ) {
													if(details[i].recommendID[t] == user){
														check_heart = "after_heart"
														break;
													}
												}
											}
										%>
										<a class="heart_icon" data-value="<%=details[i].id%>" ><i id="i_<%=details[i].id%>" class="fa fa-heart <%=check_heart%>" ></i></a>
										<span id="s_<%=details[i].id%>" style="color:lightslategray"><%=details[i].recommend%></span>
										<div class="timeline-vline"><!-- vertical line --></div>
									</div>
									<!-- /timeline entry -->

									<!-- IMAGE -->
									<a href="/schedule/detail/<%=details[i].id%>">
									<figure class="margin-bottom-10">
										<img class="img-responsive" src="/assets/images/demo/content_slider/3-min.jpg" alt="Sample Image">
									</figure>
									</a>
									<h2><a href="/schedule/detail/<%=details[i].id%>"><%=details[i].title%></a></h2>
									<ul class="blog-post-info list-inline">
										<li>
											<a href="#">
												<i class="fa fa-clock-o"></i>
												<span class="font-lato"><%=details[i].detailDate.toDateString()%></span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-user"></i>
												<span class="font-lato">John Doe</span>
											</a>
										</li>
									</ul>
									<% if(details[i].contents != null && details[i].contents.length < 50 ) {%>
										<%=details[i].contents%>
									<%} else if(details[i].contents != null){%>
										<%=(details[i].contents).substring(1,50)%>	...
									<% } %>
								</div>
								<!-- /POST ITEM -->
							<% }%>

						</div>
						<!-- /TIMELINE -->
					</div>

				</div>
			</section>
			<!-- / -->




			<!-- FOOTER -->
			<%- include Footer.ejs %>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = '/assets/plugins/';</script>-->
		<script type="text/javascript" src="/assets/plugins/jquery/jquery-2.2.3.min.js"></script>

		<script type="text/javascript" src="/assets/js/scripts.js"></script>
		<script>
			$(document).ready(function (){
				$(".heart_icon").click(function(event){
						//event.preventDefault();
						var content_id = $(this).data("value");
						if(!$("#i_" +  content_id).hasClass("after_heart")) {
							$.ajax({
								type:"POST",
								url:"/timeline/heart",
								data: { id: content_id},
								success:function(data){
									$("#i_" + content_id).addClass("after_heart");
									$("#s_" + content_id).text($("#s_" + content_id).text() * 1 + 1);
									$("#s_" + content_id).css("color", "red");
									$("#total_heart").text($("#total_heart").text() * 1 + 1);
								},
								error:function(e){
									alert(e.responseText);
								}
							});
						}
				});
			});
		</script>
	</body>
</html>