<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<%- include Header.ejs %>
<!--
    AVAILABLE BODY CLASSES:

    smoothscroll 			= create a browser smooth scroll
    enable-animation		= enable WOW animations

    bg-grey					= grey background
    grain-grey				= grey grain background
    grain-blue				= blue grain background
    grain-green				= green grain background
    grain-blue				= blue grain background
    grain-orange			= orange grain background
    grain-yellow			= yellow grain background

    boxed 					= boxed layout
    pattern1 ... patern11	= pattern background
    menu-vertical-hide		= hidden, open on click

    BACKGROUND IMAGE [together with .boxed class]
    data-background="assets/images/boxed_background/1.jpg"
-->
<body class="smoothscroll enable-animation">

<!-- wrapper -->
<div id="wrapper">

	<!--
        AVAILABLE HEADER CLASSES

        Default nav height: 96px
        .header-md 		= 70px nav height
        .header-sm 		= 60px nav height

        .noborder 		= remove bottom border (only with transparent use)
        .transparent	= transparent header
        .translucent	= translucent header
        .sticky			= sticky header
        .static			= static header
        .dark			= dark header
        .bottom			= header on bottom

        shadow-before-1 = shadow 1 header top
        shadow-after-1 	= shadow 1 header bottom
        shadow-before-2 = shadow 2 header top
        shadow-after-2 	= shadow 2 header bottom
        shadow-before-3 = shadow 3 header top
        shadow-after-3 	= shadow 3 header bottom

        .clearfix		= required for mobile menu, do not remove!

        Example Usage:  class="clearfix sticky header-sm transparent noborder"
    -->
	<div id="header" class="sticky clearfix">

		<%- include TopNav.ejs %>

	</div>


	<!--
        PAGE HEADER

        CLASSES:
            .page-header-xs	= 20px margins
            .page-header-md	= 50px margins
            .page-header-lg	= 80px margins
            .page-header-xlg= 130px margins
            .dark			= dark page header

            .shadow-before-1 	= shadow 1 header top
            .shadow-after-1 	= shadow 1 header bottom
            .shadow-before-2 	= shadow 2 header top
            .shadow-after-2 	= shadow 2 header bottom
            .shadow-before-3 	= shadow 3 header top
            .shadow-after-3 	= shadow 3 header bottom
    -->
	<section class="page-header dark page-header-xs">
		<div class="container">

			<h1>BLOG</h1>

			<!-- breadcrumbs -->
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li class="active">Single</li>
			</ol><!-- /breadcrumbs -->

		</div>
	</section>
	<!-- /PAGE HEADER -->
	<!-- -->
	<section>
		<div class="container">

			<h1 class="blog-post-title"><%= detail.title %></h1>
			<ul class="blog-post-info list-inline">
				<li>
					<a href="#">
						<i class="fa fa-clock-o"></i>
						<span class="font-lato"><%= detail.detailDate %></span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-comment-o"></i>
						<span class="font-lato"><%= comment.length %></span>
					</a>
				</li>
				<!--<li>
					<i class="fa fa-folder-open-o"></i>

					<a class="category" href="#">
						<span class="font-lato">Design</span>
					</a>
					<a class="category" href="#">
						<span class="font-lato">Photography</span>
					</a>
				</li> -->
				<li>
					<a href="#">
						<i class="fa fa-user"></i>
						<span class="font-lato"><%= author %></span>
					</a>
				</li>
			</ul>

			<!-- OWL SLIDER -->
			<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 4500, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>
				<% for(var i = 0; i < detail.pictureName.length; i++){ %>
				<a class ="lightbox" href="/uploads/detail/<%= detail.pictureName[i] %>" data-plugin-options='{"type":"image"}' >
					<img class="img-responsive" src="/uploads/detail/<%= detail.pictureName[i]%>" alt="" />
				</a>
				<% } %>
			</div>
			<!-- /OWL SLIDER -->

			<!-- IMAGE -->
			<!--
            <figure class="margin-bottom-20">
                <img class="img-responsive" src="assets/images/demo/content_slider/10-min.jpg" alt="img" />
            </figure>
            -->
			<!-- /IMAGE -->

			<!-- VIDEO -->
			<!--
            <div class="margin-bottom-20 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/8408210" width="800" height="450"></iframe>
            </div>
            -->
			<!-- /VIDEO -->


			<!-- article content -->
			<div><%- detail.contents %></div>
			<!-- /article content -->


			<div class="divider divider-dotted"><!-- divider --></div>


			<div class="divider"><!-- divider --></div>


			<ul class="pager">
				<li class="previous"><a class="noborder" href="#">&larr; Previous Post</a></li>
				<li class="next"><a class="noborder" href="#">Next Post &rarr;</a></li>
			</ul>


			<div class="divider"><!-- divider --></div>


			<!-- COMMENTS -->
			<div id="comments" class="comments">

				<h4 class="page-header margin-bottom-60 size-20">
					<span><%= comment.length %></span> COMMENTS
				</h4>
				<% if( comment.length > 0){%>
				<% for(var i = 0; i < comment.length; i++){ %>
				<!-- comment item -->
				<div class="comment-item">
					<!-- user-avatar -->


					<div class="media-body">
						<h4 class="media-heading bold"><%= comment[i].user_id %></h4>
						<small class="block"><%= comment[i].day%></small>
						<%= comment[i].content%>
					</div>
				</div>
				<% } %>
				<% } %>
				<% if(isLogin == true){%>
				<h4 class="page-header size-20 margin-bottom-60 margin-top-100">
					LEAVE A <span>COMMENT</span>
				</h4>

				<!-- Form -->

				<form action="/schedule/detail/comment/insert" method="post">
					<div class="row">
						<div class="form-group">
							<div class="col-md-12">
								<label>COMMENT</label>
								<textarea required="required" maxlength="5000" rows="5" class="form-control" name="comment" id="comment"></textarea>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">

							<button class="btn btn-3d btn-lg btn-reveal btn-black">
								<i class="fa fa-check"></i>
								<span>SUBMIT MESSAGE</span>
							</button>
							<input type="hidden" name="detail_id" value="<%= detail._id %>" />

						</div>
					</div>

				</form>
				<%}%>
				<!-- /Form -->

			</div>
			<!-- /COMMENTS -->


		</div>
	</section>
	<!-- / -->

</div>
<!-- /wrapper -->
<%- include chat.ejs %>

<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
	<div class="inner">
		<span class="loader"></span>
	</div>
</div><!-- /PRELOADER -->


<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = '/assets/plugins/';</script>
<script type="text/javascript" src="/assets/plugins/jquery/jquery-2.2.3.min.js"></script>

<script type="text/javascript" src="/assets/js/scripts.js"></script>
<script type="text/javascript" src="/javascripts/chat.js"></script>


</body>
</html>